<%= form_with(model: todoitem) do |form| %>
  <% if todoitem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(todoitem.errors.count, "error") %> prohibited this todoitem from being saved:</h2>

      <ul>
        <% todoitem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "mb-1" %>
    <%= form.text_field :name, class:'form-control mb-4' %>
  </div>

  <div>
    <%= form.label :description, class: "mb-1" %>
    <%= form.text_area :description, class:'form-control mb-4' %>
  </div>

  <div>
    <%= form.label :deadline, class: "mb-1" %>
    <%= form.datetime_field :deadline, class:'form-control mb-4' %>
  </div>

  <% unless todoitem.new_record? %>
    <div>
      <%= form.label :completed, class: "mb-1" %>
      <%= form.check_box :completed, class: "mb-5 form-check-input ms-2" %>
    </div>
  <% end %>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= form.submit 'Save Todo', class: 'btn btn-primary' %>
  </div>
<% end %>
