<div id="<%= dom_id todoitem %>">
  <tbody>
    <tr>
      <td><%= todoitem.name %></td>
      <td><%= todoitem.description %></td>
      <td><%= todoitem.deadline %></td>
      <td><%= todoitem.completed %></td>
      <td>
        <p>
          <%= link_to "View Todo", todoitem %>
        </p>
      </td>
    </tr>
  </tbody>
</div>
