<div id="<%= dom_id todoitem %>">
  <p>
    <strong>Name:</strong>
    <%= todoitem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todoitem.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= todoitem.deadline %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todoitem.completed %>
  </p>

</div>
