<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1 class="mb-5 mt-5">All Todos</h1>

<%= link_to "Add Todo", new_todoitem_path, class:"btn btn-primary btn-lg mb-4 col-lg-2 offset-lg-10 col-md-3 offset-md-9 col-sm-4" %>

<h2 class="mb-3">ℹ️ Pending</h2>
<table class="table table-striped table-bordered table-hover mb-5">
  <thead>
    <tr>
      <th>
        <%= button_tag type: 'button', class: 'border-0 bg-transparent', onclick: "window.location.href='#{todoitems_path(sort_by: 'namePending', sort_direction: toggle_direction(params[:sort_by], 'namePending'))}'" do %>
          <%= toggle_sort_direction('Name ▼', 'namePending') %>
        <% end %>
      </th>  
      <th><strong>Description</strong></th>
      <th>
        <%= button_tag type: 'button', class: 'border-0 bg-transparent', onclick: "window.location.href='#{todoitems_path(sort_by: 'deadlinePending', sort_direction: toggle_direction(params[:sort_by], 'deadlinePending'))}'" do %>
          <%= toggle_sort_direction('Deadline ▼', 'deadlinePending') %>
        <% end %>
      </th>
  </tr>
  </thead>

  <% @todoitems.each do |todoitem| %>
    <%= render todoitem %>
  <% end %>
</table>

<h2 class="mb-3">✅ Completed</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>
        <%= button_tag type: 'button', class: 'border-0 bg-transparent', onclick: "window.location.href='#{todoitems_path(sort_by: 'nameCompleted', sort_direction: toggle_direction(params[:sort_by], 'nameCompleted'))}'" do %>
          <%= toggle_sort_direction('Name ▼', 'nameCompleted') %>
        <% end %>
      </th>  
      <th><strong>Description</strong></th>
      <th>
        <%= button_tag type: 'button', class: 'border-0 bg-transparent', onclick: "window.location.href='#{todoitems_path(sort_by: 'deadlineCompleted', sort_direction: toggle_direction(params[:sort_by], 'deadlineCompleted'))}'" do %>
          <%= toggle_sort_direction('Deadline ▼', 'deadlineCompleted') %>
        <% end %>
      </th>
  </tr>
  </thead>

  <% @completed_todoitems.each do |todoitem| %>
    <%= render todoitem %>
  <% end %>
</table>
