<p style="color: green"><%= notice %></p>

<%= render @todoitem %>

<div>
  <%= link_to "Edit this todoitem", edit_todoitem_path(@todoitem) %> |
  <%= link_to "Back to todoitems", todoitems_path %>

  <%= button_to "Destroy this todoitem", @todoitem, method: :delete %>
</div>
